extends layout

block content
 h1= title
 hr
 // check if there is a list  then render list or else render a p: no categories
 if categoriesList.length 
  ul List of categories:
  each category in categoriesList
    li 
      a(href=category.url) #{category.name}
 else 
     h3 Currently doesn't have any category
     h3 You can add category by:  
       a(href='./category/create') Create Category 
